<%= form_for(@leave_record) do |f| %>
  <% if @leave_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_record.errors.count, "error") %> prohibited this leave_record from being saved:</h2>

      <ul>
      <% @leave_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :number_Of_days %><br>
    <%= f.number_field :number_Of_days %>
  </div>
  <div class="field">
    <%= f.label :leave_type %><br>
    <%= f.text_field :leave_type %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
